<h3><%= @doctor.name %></h3>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital_name %></p>
<p>Patients:</p>
<% @doctor.patients.each do |patient| %>
<div id="patient_<%= patient.id %>">
<li><%= patient.name %> <%= button_to "Delete", "/doctors/#{@doctor.id}", type: "submit", params: {patient_id: "#{patient.id}"}, method: :delete %></li>
</div>
<% end %>